### {{ operation.operation_id }}

{% include 'sections/summary.md.j2' %}

{% include 'sections/description.md.j2' %}

{% include 'sections/parameters.md.j2' %}

{% include 'sections/parameters_schema.md.j2' %}

{% include 'sections/request_body_schema.md.j2' %}

{% include 'sections/response_schema.md.j2' %}

{% include 'sections/extensions.md.j2' %}
